<aside>
  <div class="content">
    <div class="banner" routerLink="labels">
      <img src="assets/images/etiquetas/etiquetas01.jpg"> LABELS
    </div>
    <div class="banner" routerLink="manuals-forms-advertising">
      <img src="assets/images/mfp/papeleria_y_manuales04.jpg"> MANUALS, FORMS Y ADVERTISING
    </div>
    <div class="banner" routerLink="signage">
      <img src="assets/images/senalizacion/senalizacion01.jpg"> SIGNAGE AND LARGE FORMAT
    </div>
    <div class="banner" routerLink="laser-engraving">
      <img src="assets/images/grabado-laser/grabado-laser01.jpg"> LASER ENGRAVING
    </div>
    <div class="banner" routerLink="rubber-stamps">
      <img src="assets/images/sellos/sellos04.jpg"> RUBBER STAMPS
    </div>
  </div>
</aside>