<h1>MANUALS, FORMS AND ADVERSITING</h1>
<br/>

<div class="thumbnail"><img src="images/mfp/papeleria_y_manuales01.jpg"></div>
<div class="thumbnail"><img src="images/mfp/papeleria_y_manuales02.jpg"></div>
<div class="thumbnail"><img src="images/mfp/papeleria_y_manuales03.jpg"></div>
<div class="thumbnail"><img src="images/mfp/papeleria_y_manuales04.jpg"></div>
<div class="thumbnail"><img src="images/mfp/papeleria_y_manuales05.jpg"></div>
<div class="thumbnail"><img src="images/mfp/papeleria_y_manuales06.jpg"></div>

<h2 class="clearboth">FORMATS WITH OR WITHOUT COPY.</h2>
<p>Customize the stationery that uses on a daily basis as: reports, vouchers, tables for counts and records, notes, etc. Bond,
  carbonless (chemical), cardboard, printer paper to 1 or more inks.
</p>
<h2>BUSINESS CARDS</h2>
<p>We offer attractive, equalling or improving designs which currently handles. We have printing processes in which you do not
  need to ask for a high volume of them, and they allow us faster delivery times.</p>
<h2>SHEETS AND LETTERHEAD ENVELOPES</h2>
<p>You can choose between white papers, various shades of cream, smooth and textures for the elaboration of letterhead, envelopes
  recipes medical, etc., with orders minimum from 50 pieces.</p>
<h2>BROCHURES AND MANUALS</h2>
<p>Advertising or informative printed with presentation according to what you require; as: flyers, leaflets, brochures, operation
  manuals, magazines and booklets.</p>
<h2>FOLDERS AND POSTERS</h2>
<p>Folders or folders are available in size letter, printed in 1 or 2 inks on cardboard color Manila. The posters are printed
  in 1 ink or full color, remember that we can work with the design you are ready.</p>