<h1>RUBBER STAMPS</h1>
<br/>
<div class="thumbnail"><img src="images/sellos/sellos01.jpg"></div>
<div class="thumbnail"><img src="images/sellos/sellos02.jpg"></div>
<div class="thumbnail"><img src="images/sellos/sellos03.jpg"></div>
<div class="thumbnail"><img src="images/sellos/sellos04.jpg"></div>
<div class="thumbnail"><img src="images/sellos/sellos05.jpg"></div>
<div class="thumbnail"><img src="images/sellos/sellos06.jpg"></div>

<h2 class="clearboth">SELF INKING STAMPS</h2>
<p>The characteristic of this stamp is to include a pad with ink, which makes it more practical and clean to operate it, due
  to the materials with which they are manufactured offer great durability lightweight structures. Available in several sizes
  with circular and rectangular, square spaces.</p>
<h2>STAMPS OF COUP OR MOLDING</h2>
<p>The traditional label inking in an external pad, offers resistance and economy, presented in various sizes according to your
  needs.</p>
<h2>DATER STAMPS AND NUMERATORS</h2>
<p>as its name implies you can translate date or number by combining with other legends, we have various options in size, with
  metal and plastic frames, self inking stamps and blow</p>