<h1>Welcome to Grupo Gráfico</h1>
<br/>
<div class="round-corners" style="height:382px;"><img src="assets/images/index/pantone.jpg"></div>

<p><strong>“Grupo Grafico”</strong>, is the place where industry and Commerce meet covers their needs for quality and price
  in print items such as labels, manuals, formats, signals, Visual AIDS, seals and engraved and cut with laser team articles.</p>

<p>With <strong>vanguard and process control equipment</strong>, we achieve high standards of quality at competitive costs.</p>

<p>Over the <strong>18 years in the market</strong>, we have managed to combine team and our valuable human resources. Which
  the allow us to be in programs as the <strong>IMMEX</strong>, supply and export to the <strong>manufacturing industry</strong>...</p>