<h1>LABELS</h1>
<br/>
<div class="thumbnail"><img src="images/etiquetas/etiquetas01.jpg"></div>
<div class="thumbnail"><img src="images/etiquetas/etiquetas02.jpg"></div>
<div class="thumbnail"><img src="images/etiquetas/etiquetas03.jpg"></div>
<div class="thumbnail"><img src="images/etiquetas/etiquetas04.jpg"></div>
<div class="thumbnail"><img src="images/etiquetas/etiquetas05.jpg"></div>
<div class="thumbnail"><img src="images/etiquetas/etiquetas06.jpg"></div>

<h2 class="clearboth">FOR CONTROL / INFORMATION</h2>
<p>
  With the size, color and shape required, adhesive paper, vinyl or cardboard. Label Express with cord or wire to hang, simple
  and copy. For inventories, rejection of product, bar code, as well as metallic for the control of its furniture and equipment
  (fixed assets).
</p>
<h2>FOR PRODUCT PRESENTATION</h2>
<p>
  With designs that will give you an attractive presentation, in different materials according to their needs, with properties
  of resistance to humidity, solvents, environment, etc. We cover their minimum necessity in amount</p>
<h2>IN ROLL / THERMAL TRANSFER</h2>
<p>
  For boarding, inspection receipt, inventory FIFO, internal control, etc. We can take it with or without printing or in colors
  according to your needs. We have variety of measures available for immediate delivery.</p>
<h2>INDUSTRIAL SAFETY</h2>
<p>
  For identification of substances, pipelines, routes and risks. Simple and pendants - express - resistant materials such as
  vinyl and plastic to protect them from water and oils.
</p>
<h2>PLASTICS</h2>
<p>
  For boards, machines, etc., made in vinyl or materials more rigid as pvc, acrylic and polycarbonate.
</p>